/*body {*/
    /*background-color: rgba(35, 54, 242, 0.95);*/
/*}*/

body  {
    /*background: linear-gradient(to right, black, white, black)*/
   background-image: url(../img/circles-background.png);
}

.nav {
    text-align: center;
}

.nav>li {
    display: inline-block;
    box-sizing: border-box;
}

#welcome {
    text-align: center;
}

@media screen and (max-width: 991px) {
    .nav>li{
        margin-bottom: .5em;
    }
}