@import url('https://fonts.googleapis.com/css?family=Montserrat');

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Slabo 27px', serif;
    /*try to tryout display: flexbox*/
    /*flex direction moves the stick*/
    /*justify-content move it from flex start to flex end*/
    /*space between pushed it to the border with no edges*/
    /*flex-wrap: nowrap, wrap: all go to normal size to tis normal size and anything else goes to the next line, wrap-reverse*/
}

.bg {
    /*background: linear-gradient(to right, black, white, black)*/
    background-image: url(../img/numberThree.jpg);
    opacity: .75;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /*z-index: -1 basically puts the background in the background*/
}

.nav {
    text-align: center;
}

.nav > li {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav > li > a {
    width: 100%;
}

#welcome {
    text-align: center;
    background-color: RGBA(0, 0, 0, .5);
    color: #FFF;
    box-shadow: 0 0 10px 25px RGBA(0, 0, 0, .45);
}

#welcome h1 {
    font-size: 44px;
    /*font-size: 4.4vw*/
    /*vw increase the font in regards to an increase and decrease of the page in relation to also how its container changers*/
}

#profile-pic {
    display: none;
    margin-top: 3em;
    margin-left: -8%;
    width: 115%;
    border: 1px solid #ABAAAB;
}

.designer {
    display: none;
    position: relative;
    top: 100px;
    left: 45px;
    font-size: 44px;
    color: #FFF;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

#summary {
    display: none;
    position: relative;
    top: 107px;
    left: 42px;
    font-size: 24px;
    color: #FFF;
    text-align: justify;
    text-align-last: center;
}

#briefcase-pic {
    display: none;
    margin-top: 3em;
    margin-left: -4%;
    width: 100%;
}

#resume-pic {
    display: none;
    margin-top: 3em;
    margin-left: 3%;
    width: 115%;
}

#keyLock {
    width: 100%;
    font-size: 9vw;
    color: #bdbdbd;
    /*color: RGBA(45, 37, 37, 0.96);*/
    /*color: #6c5a44;*/
    text-align: center;
}

#robot-pic {
    margin-top: 3em;
    width: 120%;
    margin-left: -25%;
}

.tooltip {
    left: 150px !important;
    top: 38px !important;
    font-size: 12px !important;
}

@media screen and (max-width: 1200px) {
    #summary {
        top: 84px !important;;
        left: 42px !important;;
        font-size: 22px !important;;
    }

    .designer {
        top: 94px !important;;
        left: 45px !important;;
        font-size: 36px !important;;
    }
}

@media screen and (max-width: 991px) {
    .nav > li {
        margin-bottom: .5em;
    }

    #summary {
        top: 3px !important;
        left: -4px !important;
        font-size: 4vw !important;
        /*font-size: 34px !important;*/
    }

    .designer {
        top: 1px !important;
        left: 4px !important;
        font-size: 46px !important;
    }
}

@media screen and (max-width: 780px) {
    #welcome h1 {
        font-size: 38px !important;
        /*font-size: 5vw;*/
    }

    #summary {
        top: 6px !important;
        left: -3px !important;
        font-size: 4vw !important;
        /*font-size: 38px !important;*/

    }

    .designer {
        top: 0px !important;
        left: -6px !important;
        font-size: 42px !important;
    }
}

@media screen and (max-width: 660px) {
    #welcome h1 {
        font-size: 34px !important;
        /*font-size: 5vw;*/
    }

    #summary {
        top: -4px !important;
        left: -3px !important;
        font-size: 4vw !important;
        /*font-size: 30px !important*/

    }

    .designer {
        top: -2px !important;
        left: -3px !important;
        font-size: 32px !important;
    }
}