@import url('https://fonts.googleapis.com/css?family=Montserrat');
body,
html{
    width:100%;
    height:100%;
    font-family: 'Slabo 27px', serif;
}

.bg {
    /*background: linear-gradient(to right, black, white, black)*/
    background-image: url(../img/codes.jpg);
    opacity: .75;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    /*z-index: -1 basically puts the background in the background*/
}

.nav {
    text-align: center;
}

.nav>li {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.nav>li>a{
    width:100%;
}

#welcome {
    text-align: center;
    background-color: RGBA(0, 0, 0, .5);
    color: #FFF;
    box-shadow: 0 0 10px 25px RGBA(0,0,0,.45);
}

#welcome h1 {
    font-size: 44px;
    /*font-size: 4.4vw*/
    /*vw increase the font in regards to an increase and decrease of the page in relation to also how its container changers*/
}

#profile-pic {
    margin-top: 3em;
    width: 100%;
    border: 1px solid #ABAAAB;

}

@media screen and (max-width: 991px) {
    .nav > li {
        margin-bottom: .5em;
    }
}

@media screen and (max-width: 780px) {
    #welcome h1 {
        font-size: 38px !important;
        /*font-size: 5vw;*/
    }
}


@media screen and (max-width: 660px) {
    #welcome h1 {
        font-size: 34px !important;
        /*font-size: 5vw;*/
    }
}