body{
    background-color: #ccc;
}
.box {
    border: 1px solid black;
    height: 130px;
    /*width: 130px;*/
    /*padding: 10px;*/
    margin: 25px;
    align-content: center;
    opacity: .35;
}
/*.box:nth-child(2) {*/
/*clear: left;*/
/*}*/

h1#gameName {
    margin-top: 5%;
}

#red-box {
    background-color: #F00;
    margin-top: 40%;
}

#yellow-box {
    background-color: #FF0;
    margin-top: 40%;
}

#green-box {
    background-color: #008000;

}

#blue-box {
    background-color: #00F;
}


#start {
    height: 40px;
    margin-top: 10%;
    font-weight: bold;
}

@keyframes lightUp {
    0%{
        box-shadow: 0 0 0 0 #fff;
    }
    50%{
        box-shadow: 0 0 25px 10px #fff;
    }
    100%{
        box-shadow: 0 0 0 0 #fff;
    }

}
.light{
    animation-duration: 1s;
    animation-name: lightUp;
}